apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.14.0 ()
  creationTimestamp: null
  labels:
    io.kompose.service: storage
  name: storage
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: storage
    spec:
      containers:
      - env:
        - name: PORT
          valueFrom:
            configMapKeyRef:
              key: PORT
              name: storage-environment-storage-env
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              key: postgresdb
              name: postgresdb
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              key: postgrespassword
              name: postgrespassword
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              key: postgresuser
              name: postgresuser
        - name: RABBITMQ_DEFAULT_PASS
          valueFrom:
            secretKeyRef:
              key: rabbitpassword
              name: rabbitpassword
        - name: RABBITMQ_DEFAULT_USER
          valueFrom:
            secretKeyRef:
              key: rabbituser
              name: rabbituser
        image: hellgrenj/mediaspin:storagev8
        name: storage
        ports:
        - containerPort: 7878
        resources: {}
        volumeMounts:
        - mountPath: /logs
          name: logs
      imagePullSecrets:
        - name: regcred
      restartPolicy: Always
      volumes:
      - name: logs
        persistentVolumeClaim:
          claimName: storagelogs
status: {}
